@theme {
    --color-white: #FBFDFF;
    --color-grey: #787878;
    --color-grey-white: #EBF0F9;
    --color-black: #292B2F;
    --color-blue: #227BFF;
    --color-blue-hovered: #0066FF;
    --color-blue-focused: #1C3DE3;
}