@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #F8FBFF;
  --foreground: #292B2F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292B2F;
    --foreground: #F8FBFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
